<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Prakalp Profile</title>
 
<script type="text/javascript" src="./jquery.js"></script>
<script type="text/javascript" src="./vtip.js"></script>
<link rel="stylesheet" type="text/css" href="css/vtip.css" />
</head>
<body>
<h1>Registration Step 2 of 2: Create your profile</h1>
<u>Personal Details:</u><br />
<form name='prakalp_profile' action='' method='post' accept-charset='UTF-8'>
<br />Date Of Foundation * (DD/MM/YYYY)<br /> 
<br/>
<select id="12" name="date" style="float:left;" title="Select your foundation date" class="vtip">
<option>select</option>
<option value="DD">01</option> 
<option>02</option>
<option>03</option>
<option>04</option>
<option>05</option>
<option>06</option>
<option>07</option>
<option>08</option>
<option>09</option>
<option>10</option>
<option>11</option>
<option>12</option>
<option>13</option>
<option>14</option>
<option>15</option>
<option>16</option>
<option>17</option>
<option>18</option>
<option>19</option>
<option>20</option>
<option>21</option>
<option>22</option>
<option>23</option>
<option>24</option>
<option>25</option>
<option>26</option>
<option>27</option>
<option>28</option>
<option>29</option>
<option>30</option>
<option>31</option>
</select>
<select id="13" name="month" title="Select your foundation month" class="vtip" >
<option>select</option>
<option value="MM">01</option>
<option>02</option>
<option>03</option>
<option>04</option>
<option>05</option>
<option>06</option>
<option>07</option>
<option>08</option>
<option>09</option>
<option>10</option>
<option>11</option>
<option>12</option>
</select>
<select id="14" name="year"  title="Select your foundation year" class="vtip">
<option>select</option>
<option value="YYYY">1950</option>
<option>1951</option>
<option>1953</option>
<option>1954</option>
<option>1955</option>
<option>1956</option>
<option>1957</option>
<option>1958</option>
<option>1959</option>
<option>1960</option>
<option>1961</option>
<option>1962</option>
<option>1963</option>
<option>1964</option>
<option>1965</option>
<option>1966</option>
<option>1967</option>
<option>1968</option>
<option>1969</option>
<option>1970</option>
<option>1971</option>
<option>1972</option>
<option>1973</option>
<option>1974</option>
<option>1975</option>
<option>1976</option>
<option>1977</option>
<option>1978</option>
<option>1979</option>
<option>1980</option>
<option>1981</option>
<option>1982</option>
<option>1983</option>
<option>1984</option>
<option>1985</option>
<option>1986</option>
<option>1987</option>
<option>1988</option>
<option>1989</option>
<option>1990</option>
<option>1991</option>
<option>1992</option>
<option>1993</option>
<option>1994</option>
<option>1995</option>
<option>1996</option>
<option>1997</option>
<option>1998</option>
<option>1999</option>
<option>2000</option>
<option>2001</option>
<option>2002</option>
<option>2003</option>
<option>2004</option>
<option>2005</option>
<option>2006</option>
<option>2007</option>
<option>2008</option>
<option>2009</option>
<option>2010</option>
<option>2011</option>
<option>2012</option>
<option>2013</option>
<option>2014</option>
<option>2015</option>
<option>2016</option>
<option>2017</option>
<option>2018</option>
<option>2019</option>
<option>2020</option>
<option>2021</option>
<option>2022</option>
<option>2023</option>

<option>2024</option>
<option>2025</option>
<option>2026</option>
<option>2027</option>
<option>2028</option>
<option>2029</option>
<option>2030</option>
<option>2031</option>
<option>2032</option>
<option>2033</option>
<option>2034</option>
<option>2035</option>
<option>2036</option>
<option>2037</option>
<option>2038</option>
<option>2039</option>
<option>2040</option>
<option>2041</option>
<option>2042</option>
<option>2043</option>
<option>2044</option>
<option>2045</option>
<option>2046</option>
<option>2047</option>
<option>2048</option>
<option>2049</option>
<option>2050</option>
</select><br /><br />

No. of Years of Succesful Running:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="years" id="text1" size="10" maxlength="2" title="Enter for how many years you have been working" class="vtip"/>
<br /><br />Organization Under Which You Work&nbsp;*&nbsp; <input type="text" name="Organization Under Which You Work" id="text5" size="40" maxlength="50" title="Name various organizations which comes under you" class="vtip" /> 
<br /><br />Address * &nbsp; <input type="text" id="18" name="address" maxlength="30" title="type in your address" class="vtip"/><br />
City:&nbsp;&nbsp;<input type="text" id="19" name="addressline3" maxlength="20" title="Enter your city" class="vtip"/>&nbsp;State:&nbsp;&nbsp;<input type="text" id="20" name="addressline4" maxlength="20" title="Enter your state" class="vtip"/>&nbsp;Country:&nbsp;<input type="text" id="21" name="addressline5" maxlength="20"title="Enter your country" class="vtip" /> 

<br /><br />E-mail: *&nbsp;<input type="text" id="23" name="email" maxlength="10" title="Enter your Email ID" class="vtip" /><br />
<br /><input type="checkbox" checked="checked" class="mail" id="checkbox1" /> You Agree to recieve e-mails regarding doners who are interested on you e mail id.<br />
<br/>Website <input type="text" name="website" id="100" maxlength="40" size="30" title="Enter your existing website if any" class="vtip"/>&nbsp;&nbsp;<a href="">Add More</a><br />
         <input type="text" name="website" id="Text1" maxlength="40" size="30" /><br/><br/> 
<u>Categories:</u><br /><br />
<div id="ScrollCB" style="height:150px; width:200px; overflow:auto;">
<input type="checkbox" id="scb1" name="sc1" value="1">care<br /> 
<input type="checkbox" id="scb2" name="sc2" value="2">Children<br /> 
<input type="checkbox" id="scb3" name="sc3" value="3">Disabled<br/> 
<input type="checkbox" id="scb4" name="sc4" value="4">education<br /> 
<input type="checkbox" id="scb5" name="sc5" value="5">Elderly<br /> 
<input type="checkbox" id="scb6" name="sc6" value="6">Employment<br /> 
<input type="checkbox" id="scb7" name="sc7" value="7">Dualit Lite<br /> 
<input type="checkbox" id="scb8" name="sc8" value="8">Health<br /> 
<input type="checkbox" id="scb9" name="sc9" value="9">Human Rights<br /> 
<input type="checkbox" id="scb10" name="sc10" value="10">Sanskar<br /> 
<input type="checkbox" id="scb11" name="sc11" value="11">Self Employment<br /> 
<input type="checkbox" id="scb12" name="sc12" value="12">Swawlamban<br /> 
<input type="checkbox" id="scb13" name="sc13" value="13">Youth<br /> 
<input type="checkbox" id="scb14" name="sc14" value="14">Women<br /> 

</div>  


<br /><br />
Projects:<br />
<input type="text" name="project" id="Text1" size="30" maxlength="45" title="Enter the name of projects you work under" class="vtip" /><a href="">add more</a><br />
<input type="text" name="project" id="Text2" size="30" maxlength="45" /><br />
<input type="text" name="project" id="Text3" size="30" maxlength="45" /><br />
Activities:<br />
<input type="text" name="activities" id="Text6" size="30" maxlength="45" title="Enter the name of activities you perform" class="vtip" /><a href="">add more</a><br />
<input type="text" name="activities" id="Text7" size="30" maxlength="45" /><br />
<input type="text" name="activities" id="Text8" size="30" maxlength="45" /><br />
Yojnas:<br />
<input type="text" name="yojna" id="Text9" size="30" maxlength="45" title="Enter the name of yojnas on which you are working" /><a href="">add more</a><br />
<input type="text" name="yojna" id="Text10" size="30" maxlength="45" /><br />
<input type="text" name="yojna" id="Text11" size="30" maxlength="45" /><br />

<u>Items Required:</u><br />
<div id="ScrollCB" style="height:150px; width:200px; overflow:auto;">
<input type="checkbox" id="Checkbox2" name="category1"/>Books<br />
<input type="checkbox" id="Checkbox3" name="category2"/>Clothes<br />
<input type="checkbox" id="Checkbox4" name="category3"/>Games<br />
<input type="checkbox" id="Checkbox5" name="category4"/>Curtains<br />
<input type="checkbox" id="Checkbox6" name="category5"/>Bedsheets<br />
<input type="checkbox" id="Checkbox7" name="category6"/>Blankets<br />
<input type="checkbox" id="Checkbox8" name="category7"/>Mats<br />
<input type="checkbox" id="Checkbox9" name="category8"/>Stationary<br />
<input type="checkbox" id="Checkbox10" name="category9"/>Computers And Laptops<br />
<input type="checkbox" id="Checkbox11" name="category10"/>Raw Food<br />
<input type="checkbox" id="Checkbox12" name="category11"/>Stitching Machine<br />
<input type="checkbox" id="Checkbox13" name="category12"/>Utensils<br />
<input type="checkbox" id="Checkbox14" name="category13"/>Furniture<br />
<input type="checkbox" id="Checkbox15" name="category1"/>Medicines<br />
<input type="checkbox" id="Checkbox16" name="category2"/>Anticeptics<br />
<input type="checkbox" id="Checkbox17" name="category3"/>Cycles<br />
<input type="checkbox" id="Checkbox18" name="category4"/>Medical Equipments<br />
<input type="checkbox" id="Checkbox19" name="category5"/>Vehicles<br />
<input type="checkbox" id="Checkbox20" name="category6"/>Bags<br />
<input type="checkbox" id="Checkbox21" name="category7"/>Personal Care<br />
<input type="checkbox" id="Checkbox22" name="category8"/>Electronics<br />
<input type="checkbox" id="Checkbox23" name="category9"/>Kitchen items<br />
<input type="checkbox" id="Checkbox24" name="category10"/>Money<br />
</div>
<br /><br /> If Others Please Specify:<br />
<input type="text" name="others" id="Text13" size="40" maxlength="15" title="Enter the items you required" class="vtip" /><a href="">add more</a><br />
<input type="text" name="others" id="Text14" size="40" maxlength="15" />


<br /><br />
<u>Services Required:</u><br />
<div id="ScrollCB" style="height:150px; width:200px; overflow:auto;">
<input type="checkbox" id="Checkbox66" name="education64"/>Architect<br />
<input type="checkbox" id="Checkbox67" name="education65"/>Animater<br />
<input type="checkbox" id="Checkbox68" name="education66"/>Charted Accountant<br />
<input type="checkbox" id="Checkbox69" name="education67"/>Clerk<br />
<input type="checkbox" id="Checkbox70" name="education68"/>College Student<br />
<input type="checkbox" id="Checkbox71" name="education69"/>Company Secretary<br />
<input type="checkbox" id="Checkbox72" name="education70"/>Dentist<br />
<input type="checkbox" id="Checkbox73" name="education71"/>Doctor<br />
<input type="checkbox" id="Checkbox74" name="education72"/>Entrepreneur<br />
<input type="checkbox" id="Checkbox75" name="education73"/>Executive<br />
<input type="checkbox" id="Checkbox76" name="education74"/>Fashion Designer<br />
<input type="checkbox" id="Checkbox77" name="education75"/>Engineer<br />
<input type="checkbox" id="Checkbox78" name="education76"/>Graphics Designer<br />
<input type="checkbox" id="Checkbox79" name="education77"/>Manager<br />
<input type="checkbox" id="Checkbox80" name="education78"/>News reporter<br />
<input type="checkbox" id="Checkbox81" name="education79"/>Pilot<br />
<input type="checkbox" id="Checkbox82" name="education80"/>Pharmist<br />
<input type="checkbox" id="Checkbox83" name="education81"/>Teacher<br />
<input type="checkbox" id="Checkbox84" name="education82"/>Tailor<br />
<input type="checkbox" id="Checkbox85" name="education83"/>Therapist<br />
<input type="checkbox" id="Checkbox86" name="education84"/>Social Worker<br />
<input type="checkbox" id="Checkbox87" name="education85"/>Journalist<br />
<input type="checkbox" id="Checkbox88" name="education86"/>Volunteer<br />
<input type="checkbox" id="Checkbox89" name="education87"/>Writer<br />
<input type="checkbox" id="Checkbox90" name="education88"/>Politician<br />
<input type="checkbox" id="Checkbox91" name="education89"/>Director<br />
<input type="checkbox" id="Checkbox92" name="education90"/>Gardner<br />
<input type="checkbox" id="Checkbox93" name="education91"/>Cobler<br />
</div>
<br /><br /> If Others Please Specify:<br />
<input type="text" name="others" id="to1" size="40" maxlength="15" title="Enter the services you required" class="vtip" /><a href="">add more</a><br />
<input type="text" name="others" id="Text12" size="40" maxlength="15" />

<br /><br />
<u>General Questions:</u><br /><br />
Do You Work 24*7?<br />
<input type="radio" checked="checked" name="a"/> Yes <input type="radio" checked="checked" name="a" /> No<br /> 
Are you interested in inviting people to your organization?<br />
<input type="radio" checked="checked"name="z" /> Yes <input type="radio" checked="checked" name="z"/> No<br /> 
Are you interested in inviting people to your annual functions?<br />
<input type="radio" checked="checked" name="s"/> Yes <input type="radio" checked="checked" name="s"/> No<br /> 
Do you co-ordinate with other NGO's in the organization?<br />
<input type="radio" checked="checked" name="q"/> Yes <input type="radio" checked="checked" name="q" /> No<br /> 
Are you intersed in collecting money?<br />
<input type="radio" checked="checked" name="d" /> Yes <input type="radio" checked="checked" name="d"/> No<br /> 
Are You interested in getting items?<br /> 
<input type="radio" checked="checked" name="x"/> Yes <input type="radio" checked="checked" name="x"/> No<br /> 
How would you like to donate?<br />
<input type="radio" checked="checked"name="c" /> At the prakalp <input type="radio" checked="checked" name="c"/> At your Place<br />
<br /><br /> <u>List Of Annual Holidays:</u><br />
<input type="text" id="Text15" class="" maxlength="200" size="50" title="list all the annual holidays you are closed eg holi" class="vtip"  />
<br /><br /> <u>List Of Monthly holidays:</u><br />
<input type="text" id="Text16" class="" maxlength="200" size="50" title="list all monthly holidays eg second saturday" class="vtip"/>
<br /><br /> <u>List of annual events:</u><br />
<input type="text" id="Text17" class="" maxlength="200" size="50"title="Give the names of event which you organize annualy" class="vtip" />
<br /><br /> <u>List Of Monthly Events:</u><br />
<input type="text" id="Text18" class="" maxlength="200" size="50" title="Give the names of event which you organize monthly" class="vtip" />
<br /><br /> <u>Describe Your Staff Organization:</u><br />
<input type="text" id="Text19" class="" maxlength="200" size="50" />
<br /><br />Describe How you Work:<br />
<input type="text" id="Text20" class="" maxlength="200" size="50" />
<br /><br /> <u>Working Hours per day:</u><br />
<input type="text" id="Text21" class="" maxlength="3" size="20" title="eg 9am to 6pm" class="vtip" />
<br /><br /> <u> Working days in a week:</u><br />
<input type="text" id="Text22" class="" maxlength="100" size="20" title="eg MON to SAT" class="vtip"/>
<br /><br /> <u>Anything You want to tell Us:</u><br />
<input type="text" id="Text23" class="" maxlength="200" size="20"/>
<br /><br /> <u>Upload you photos(if any):</u><br />
<input type="button" id="Text24" class="" value="attach" name="videos"/>
<br /><br /> <u>Upload Your videos(if any):</u><br />
<input type="button" id="101" class="" value="attach" />
<br /><br /> <u>Your Comments About Us:</u><br />
<input type="text" id="Text25" class="" maxlength="200" size="50"/>
<br /><br /> <u>Your Suggestions:</u><br />
<input type="text" id="Text4" class="" maxlength="200" size="50" /><b /><br />
<pre>                                        
                                   <input type="submit" value="submit" id="11" name="button" title="Recheck your details before clicking on Submit" class="vtip" />      <input type="reset" value="reset " id="Submit1" name="button" title="Click Here to fill the form again" class="vtip""/>

</pre>

</form>

</body>
</html>

